div
    h1  Room {{ room.name }}

    ul(v-if="roomMessages")
        li(v-for="message in roomMessages")
            | {{ message.text }} by: {{ message.user.name }}

    form(@submit="sendMessage")
        input(v-model="message")
        button Enviar