div
    h1  Room {{ room.name }} creada hace {{ getDate() }}

    ul(v-if="room.messages")
        li(v-for="message in room.messages")
            | {{ message.text }} by: {{ message.user.name }}

    form(@submit="sendMessage")
        input(v-model="message")
        button Enviar